@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

$openSans: 'Open Sans', sans-serif;

$teal: #34D1D1;
$darkPurple: #2F2235;
$lighterPurple: #3F3244;
$white: #FFF;
$offWhite: #F2F2F2;
$lightGrey: #D1D2D3;
$darkGrey: #666666;
$black: #000;

$light: 300;
$bold: 600;